/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#battlefield {
    position: relative;
    width: 100vh;
    height: 100vh;
    background-color: #fff;
    border: 1px solid #ccc;
}

.node {
    position: absolute;
    width: var(--node-size);
    height: var(--node-size);
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8em;
    z-index: 1;
}

.unit-circle {
    position: absolute;
    width: var(--unit-size);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    border: 3px solid;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.team-1 {
    background-color: green;
}

.team-2 {
    background-color: orange;
}

/* Border colors based on unit type */
.type-A {
    border-color: green;
}

.type-M {
    border-color: red;
}

.type-F {
    border-color: blue;
}

.unit-tooltip {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 0.8em;
    white-space: nowrap;
    z-index: 10;
    transform: translate(-50%, -110%);
}

.unit-circle:hover .unit-tooltip {
    display: block;
}

#unitTableContainer {
    flex: 1; /* The table takes up 1 part of the space */
    padding: 20px;
    overflow-y: auto; /* Scroll if the content overflows */
    max-height: 100vh; /* Ensure the table doesn't overflow the viewport */
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

